<div ng-controller="TravelsCtrl">

	<div class="row">
	    <div class="col-sm-6 col-md-3" ng-repeat="travel in travels">
		    <div class="thumbnail">
			    <img ng-src="{{travel.gallery[0]}}" alt="...">
			    <div class="caption">
			    <h3>{{travel.name}}
			    	<span class="pull-right">
			    		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				    	<span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
				    	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				    </span>
			    </h3>
			    <p>{{travel.description}}</p>
			    </div>
		    </div>
  		</div>
	</div>

</div> <!-- /container -->